on:
  push:
    branches:
      - main

name: Simulated External Build & Porter Deploy
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set Github tag
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # --- SIMULATING CIRCLECI BUILD START ---
    # In CircleCI, they might run a standard docker build. 
    # We do this here to create a local image before Porter touches it.
    - name: Build image (Simulating CircleCI)
      run: docker build -t fullstack:${{ steps.vars.outputs.sha_short }} .
    # --- SIMULATING CIRCLECI BUILD END ---

    - name: Porter Push (Tag and upload to Porter Registry)
      uses: porter-dev/porter-cli-action@v0.1.1
      with:
        # Note: 'update push' looks for the image we built in the previous step
        command: update push --app fullstack --tag ${{ steps.vars.outputs.sha_short }}
      env:
        PORTER_HOST: https://mauricio.withporter.run
        PORTER_CLUSTER: "1"
        PORTER_PROJECT: "1"
        PORTER_TOKEN: ${{ secrets.PORTER_APP_1_988596736 }}

    - name: Run the release job
      uses: porter-dev/porter-run-job-action@v0.1.0
      with:
        job: release
        cluster: "1"
        project: "1"
        host: https://mauricio.withporter.run
        token: ${{ secrets.PORTER_APP_1_988596736 }}
        
    - name: Update the config for fullstack
      uses: porter-dev/porter-cli-action@v0.1.1
      with:
        command: update config --app fullstack --tag ${{ steps.vars.outputs.sha_short }}
      env:
        PORTER_HOST: https://mauricio.withporter.run
        PORTER_CLUSTER: "1"
        PORTER_PROJECT: "1"
        PORTER_TOKEN: ${{ secrets.PORTER_APP_1_988596736 }}
        PORTER_DEPLOYMENT_TARGET_ID: e1c624cc-6272-41a3-9cea-8c887a1efbcf
